.App {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 20px 30px;
}
.spinner {
    justify-self: center;
    align-self: center;
    height: 60px;
    width: 60px;
}
.select {
    &__wrapper {
        padding: 10px 0;
    }
}

.pagination {
    &__wrapper {
        padding: 15px 0;
        align-self: end;
    }
}
