.App {
    font-family: sans-serif;
    padding: 20px 30px;
}

.select {
    &__wrapper {
        padding: 10px 0;
    }
}

.pagination {
    &__wrapper {
        padding: 15px 0;
        float: right;
    }
}
